@import "tailwindcss";

body {
  background-color: #f8fafc;
  color: #0f172a;
}

.blueprint-grid {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 80px 80px;
}
